.body {
    background-color: lightgoldenrodyellow;
}

.task-bar {
    padding: 20px;
    text-align: center;
}

.task-input {
    padding: 8px;
    width: 50%;
}

.add-btn {
    height: 35px;
    background-color: lightskyblue;
}

.task-list {
    text-align: center;
}

.task {
    background-color: skyblue;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 50%;
    margin: auto;
}

.task-remove-btn {
    float: right;
    padding-right: 5px;
}